<div class="jumbotron text-center", style="background-color:#F0EDE5;">
  <h1>Welcome to Blocmarks!</h1>
  <p>A social bookmarking app that allows users to bookmark URLs via email, manage and share them with friends.</p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign In", user_session_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
</div>
